<div class="wrapper">
	@if (this.submitted) {
		<div class="summary">
			<h1>Here are the information you have entered:</h1>
			<p>First name: {{registerForm.value.FirstName}}</p>
			<p>Last name: {{registerForm.value.LastName}}</p>
			<p>Address: {{registerForm.value.Address}}</p>
			<p>Zip: {{registerForm.value.Zip}}</p>
			<p>City: {{registerForm.value.City}}</p>
			<p>Country: {{registerForm.value.Country}}</p>
			<p>Phone: {{registerForm.value.Phone}}</p>
			<p>Email: {{registerForm.value.Email}}</p>
		</div>
	} @else {
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<div class="double-input-wrapper">
				<div class="first-name">
					<label for="">First name: </label>
					<input type="text" formControlName="FirstName" placeholder="First name"/>
				</div>
				<div class="last-name">
					<label for="">Last name: </label>
					<input type="text" formControlName="LastName" placeholder="Last name"/>
				</div>
			</div>
			<div class="single-input-wrapper">
				<label for="">Address: </label>
				<input type="text" formControlName="Address" placeholder="Address"/>
			</div>
			<div class="double-input-wrapper">
				<div class="zip">
					<label for="">Zip/Post code: </label>
					<input type="text" formControlName="Zip" placeholder="Zip"/>
				</div>
				<div class="city">
					<label for="">City: </label>
					<input type="text" formControlName="City" placeholder="City"/>
				</div>
			</div>
			<div class="single-input-wrapper">
				<label for="">Phone: </label>
				<input type="text" formControlName="Phone" placeholder="Phone"/>
			</div>
			<div class="single-input-wrapper">
				<label for="">Country: </label>
				<input type="text" formControlName="Country" placeholder="Country"/>
			</div>
			<div class="single-input-wrapper">
				<label for="">Email: </label>
				<input type="text" formControlName="Email" placeholder="Email"/>
			</div>
			<div class="single-input-wrapper">
				<label for="">Login: </label>
				<input type="text" formControlName="Login" placeholder="Login"/>
			</div>
			<div class="double-input-wrapper">
				<div class="pwd">
					<label for="">Password: </label>
					<input [type]="showPassword ? 'text' : 'password'" formControlName="Password" placeholder="Password"/>
					@if (showPassword) {
						<i class="fas fa-eye-slash" (click)="showPassword = !showPassword"></i>
					} @else {
						<i class="fas fa-eye" (click)="showPassword = !showPassword"></i>
					}
				</div>
				<div class="confpwd">
					<label for="">Confirm password: </label>
					<input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="ConfirmPassword" placeholder="Confirm password"/>
					@if (showConfirmPassword) {
						<i class="fas fa-eye-slash" (click)="showConfirmPassword = !showConfirmPassword"></i>
					} @else {
						<i class="fas fa-eye" (click)="showConfirmPassword = !showConfirmPassword"></i>
					}
				</div>
			</div>

			<button type="submit">Register</button>
		</form>
	}
	
</div>