.wrapper {
	width: 600px;
	margin: auto;
	padding: 2rem 0;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

form > div {
	width: 75%;
	margin: 0.5rem auto;
}

.single-input-wrapper {
	display: flex;
	flex-direction: column;
}

.double-input-wrapper {
	display: flex;
	justify-content: space-between;
}

.double-input-wrapper > div {
	display: flex;
	flex-direction: column;
	width: 45%;
}

label {
	margin-bottom: 0.25rem;
}

input {
	border: 2px solid rgb(0, 173, 181);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

button {
	margin: 1rem auto 0 auto;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	background-color: rgb(0, 173, 181);
	color: rgb(238, 238, 238);
	font-weight: bold;
	width: 50%;
	cursor: pointer;
}

button:hover {
	background-color: rgb(57, 62, 70);
	color: rgb(238, 238, 238);
}

.pwd, .confpwd {
	position: relative;
}

div > i {
	position: absolute;
	right: 0.5rem;
	top: 2rem;
}

.summary {
	width: 75%;
	margin: 1rem auto;
	padding: 1rem;
	border: 2px solid rgb(0, 173, 181);
	border-radius: 0.5rem;
	background-color: rgb(238, 238, 238);

}

@media screen and (max-width: 600px){
	.wrapper {
		width: 100%;
	}

	form > div {
		width: 90%;
		margin: auto;
	}

	.double-input-wrapper {
		flex-direction: column;
	}

	.double-input-wrapper > div {
		width: 100%;
	}

	.pwd, .confpwd {
		position: relative;
	}
}