.wrapper {
	width: 600px;
	margin: auto;
	padding: 2rem 0;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.single-input-wrapper {
	display: flex;
	flex-direction: column;
}

.double-input-wrapper {
	display: flex;
	justify-content: space-between;
}

.double-input-wrapper > div {
	display: flex;
	flex-direction: column;
	width: 50%;
}

input {
	border: 2px solid rgb(34, 40, 49);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

button {
	margin: 1rem auto 0 auto;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	background-color: rgb(34, 40, 49);
	color: rgb(238, 238, 238);
	width: 50%;
}