<header>
	<h1 id="Title" routerLink="/">MyShop</h1>
	<nav id="Menu">
		<a class="link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
		<a class="link" routerLinkActive="active" routerLink="/Catalog">Catalog</a>
		<!--A changer en fonction du token de connexion-->
		<a class="link" routerLinkActive="active" routerLink="/Connexion">Connexion</a>
		<a class="link" routerLinkActive="active" routerLink="/Cart"><i class="fas fa-shopping-cart"></i></a>
	</nav>
</header>