@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html {
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
}

body {
	margin: 0;
}

app-root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0;
}