footer {
	border-top: 1px solid var(--quaternary);
	margin: 0 2rem;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	text-align: center;
	color: var(--quaternary);
}